* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2e7ef;
}

.container {
    background: #ebf1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #23b5ef;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #eee765;
}

.message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.success {
    color: #14ad1e;
}

.error {
    color: #f34444;
}